/* ResearchPick.css */

.research-pick-container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .top-bar {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-section, .right-section {
    display: flex;
    align-items: center;
    padding-right:  15px;
  }
  
  .top-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
  .top-button-active {
    background-color: transparent;
    color: purple;
    border: none;
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight:  bold;
  }
  
  .content-area {
    display: flex;
    flex-grow: 1;
    gap: 15px;
  }
  
  .left-sidebar, .right-sidebar {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius:15px;
  }
  
  .main-content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    width:65%;
    border-radius: 15px;
  }
  
  .document-sections {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add-section-button {
    background-color: #ddd;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .section-item {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .top-controls {
    margin-bottom: 10px;
  }
  
  .dropdown, .format-button {
    padding: 8px 12px;
    margin-right: 5px;
  }
  
  .editor-area {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 300px;
  }
  
  .sidebar-button {
    background-color: #ddd;
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .no-comments {
    text-align: center;
    margin-top: 20px;
    color: #888;
  }
  .collaboration-message-container {
    padding: 10px;
  }
  
  .instructions {
    color: #777;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    /* border: 1px solid #ccc; */
    background-color: white;
    border-radius: 10px;
    padding: 4px;
  }
  
  .message-input {
    flex-grow: 1;
    border: none;
    padding: 8px;
    font-size: 1em;
    outline: none;
  }
  
  .icon-button,
  .send-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size: 1.1em;
    color: #555;
    outline: none;
  }
  
  .send-button {
    background-color: #2fa1ec;
    color: white;
    border-radius: 4px;
    margin-left: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;

  }
  
  .send-button svg {
    margin-left: 8px;
  }